.contact{
  margin: 100px 0;
  .google-map{
    #map{
      height: 500px;
      width: 100%;
      margin-bottom: 50px;
    }
  }
  .icons-contact{
    margin: 30px 0 50px;
    .column{
      text-align: center;
      margin-bottom: 30px;
      .icon{
        min-width: 120px;
        max-width: 120px;
        min-height: 120px;
        max-height: 120px;
        background-color: $color-primary;
        border-radius: 5px 50% 50% 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto 30px;
      }
      .icon-text{
        font-family: 'Lato-Bold';
        color: #333;
        p{
          font-size: 17px;
        }
      }
    }
  }
  input, textarea{
    border-color: #ccc;
    padding: 10px;
    line-height: 14px;
  }
  .button{
    border-color: $color-primary;
    color: $color-primary;
    transition: all .1s ease-in-out;
    &:hover{
      border-color: #fff;
      color: #fff;
      background-color: $color-primary;
    }
  }
}
