///////////////////////////////
$bg-menu: #fff;
$bg-responsive: lighten($color-primary, 20%);
$color-menu: #333;
$height-menu: 100px;
$color-hamburger: #666;
$break-point: 767px;
$sidebar-width: 75%;
///////////////////////////////
@mixin m-transition() {
  transition: all 0.3s ease-in-out;
}
///////////////////////////////
.center{
  width: 80%;
  max-width: 1160px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  align-items: center;
}


header{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  //height: $height-menu;
  background-color: $bg-menu;
  height: $height-menu;
  z-index: 99;

  transition: all .2s ease-in-out;
  -webkit-box-shadow: 0px 0px 63px -4px rgba(0,0,0,0.8);
  -moz-box-shadow: 0px 0px 63px -4px rgba(0,0,0,0.8);
  box-shadow: 0px 0px 63px -4px rgba(0,0,0,0.8);
  a{
    color: $color-menu;
    text-decoration: none;
    font-size: 20px;
    text-transform: uppercase;
    //@include m-transition;
    &:hover{

    }
  }
  .header-icon{
    position: absolute;
    right: 20px;
    top: $height-menu/2;
    transform: translateY(-50%);
    padding: 5px;
    //border: 1px solid $color-hamburger;
    border-radius: 3px;
    margin: 0 10px;
    .icon-bar {
      display: block;
      width: 25px;
      height: 3px;
      border-radius: 1px;
      background-color: $color-hamburger;
      @include m-transition;
      position: relative;
      & + .icon-bar {
        margin-top: 4px;
      }
    }
    &:hover{
      .icon-bar{
        background-color: darken($color-hamburger, 20%);
      }
    }
  }
  .header-logo{
    margin: 0 15px 0 0;
    float: left;
    img{
      // width: $height-menu*0.75;
      // height: $height-menu*0.3;
    }
  }
  nav{
    @media screen and (min-width: $break-point + 1px) {
      transform: translateY(-15%);
    }
    overflow: hidden;
    @include m-transition;
    a{
      float: left;
      margin: 0 10px;
      position: relative;
      @include m-transition;
      &:before{
        @include m-transition;
        content: "";
        position: absolute;
        height: 4px;
        bottom: 0;
        left: 50%;
        right: 50%;
        background-color: $color-primary;
        //visibility: hidden;
      }
      &:hover{
        color: lighten($color-menu, 20%);
        &:before{
          //visibility: visible;
          left: 0;
          right: 0;
        }
      }
      &:first-child{
        @media screen and (min-width: $break-point + 1px) {
          margin-left: 50px;
        }
      }
    }
  }
}
@media screen and (min-width: $break-point + 1px){
  .header-icon{
    display: none;
  }
}
@media screen and (max-width: $break-point){
  nav{
    background-color: rgba($bg-responsive, 0.75);
    position: absolute;
    width: $sidebar-width;
    height: 2000%;
    right: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 998;
    a{
      font-size: 36px;
      font-family: 'Lato';
      &:first-child{
        margin-top: 100px;
      }
    }
  }
  .sidebar{
    right: 100%-$sidebar-width;
  }
}
.home{
  margin-top: $height-menu;
}
