.home{
  position: relative;
  height: 100vh;
  top: -$height-menu;
  padding-top: $height-menu;
  margin-bottom: -$height-menu;
  @include mprefix(box-sizing, border-box);
  @include mbackground($image: url('../images/banner.jpg'), $size: cover,
                        $repeat: no-repeat, $position: center center);
  .container{
    @include setX();
    top: 35%;
    bottom: 0;
  }
  &-overlay{
    @include moverlay();
    background-color: rgba(198, 198,198, .5);
    &-gradient{
      position: absolute;
      @include moverlay();
      background: -webkit-linear-gradient(left, rgba(30,87,153,0) 0%, rgba(255,202,38,0.2) 100%);
      background: -o-linear-gradient(left, rgba(30,87,153,0) 0%, rgba(255,202,38,0.2) 100%);
      background: linear-gradient(to right, rgba(30,87,153,0) 0%, rgba(255,202,38,0.2) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001e5799', endColorstr='#8cffca26',GradientType=1 ); /* IE6-9 */
    }
  }
  .title{
    color: $color-primary;
    font-size: 40px;
    //font-family: 'Lato-Black';
    &+p{
      font-size: 22px;
      color: #fff;
    }
  }
  .see-more{
    @include setX();
    top: 50%;
    .underline{
      text-decoration: none;
      color: #fff;
      border-bottom: 3px solid $color-primary;
      padding-bottom: 10px;
      font-size: 20px;
    }
  }
}
